<!DOCTYPE html>
<html ng-app="angularJsStub">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <body>
        <header>
            <h1 class="text-center">API to Transfer any Excel file to Database with table schema <small>For RiskAdvisors</small></h1>
            <h6 class="text-center">This app dynamically parses table schema of excel sheet and saves it to a SQL database</h6>
        </header>
        <section class="container" style="align:center">
            <div class="row text-center" ng-controller="QueryData">
                
                <div class="col-sm-6 col-md-4 col-md-offset-4">
                    <h6>Table imported to Database</h6>
                    <p>Filename: {{ session['filename'] }}</p>
                    <p>Tablename: {{ session['table_name'] }}</p>
                    <h6>Query Table:</h6>
                    <form class="form-horizontal" ng-submit="query()">
                        <div class="form-group">
                        <label>Select Column to query</label>
                        <select name="col_name" width="300px" ng-model="col_name">
                                <option value=id>Id</option>
                            {% for header in session['sheet_headers'] %}
                                <option value={{ header }}>{{header}}</option>"
                            {% endfor %}
                        </select>
                        </div>
                        <div class="form-group">
                        <label>Enter Column Value: </label>
                        <input type="text" name='col_value' ng-model="col_value">
                        </div>
                        <a href="{{ url_for('index') }}"><button class="btn btn-default">Another File</button></a>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                </div>
                
                <div class="">
                    <div  >
                        <div class="device row" >
                            <div ng-init="datalist=''"></div>
                            <div ng-repeat="ab in datalist | limitTo:1">
                                <ul class="list-inline">
                                    <li style="width:100px" ng-repeat="(key, value) in ab">
                                        {{key|angular}}
                                    </li>
                                </ul>
                            </div>
                            <div ng-repeat="ab in datalist">
                                <ul class="list-inline">
                                    <li style="width:100px" ng-repeat="(key, value) in ab">
                                        {{value|angular}}
                                    </li>
                                </ul>
                                <hr/>
  	                        </div>

                        </div>
                    </div>
                    
            
                </div>
            </div>
        </section>


    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
    </body>
</html>