<!DOCTYPE html>
<html ng-app="angularJsStub">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    </head>
    <body>
        <header>
            <h1 class="text-center">API to Transfer any Excel file to Database with table schema <small>For RiskAdvisors</small></h1>
            <h6 class="text-center">This app dynamically parses table schema of excel sheet and saves it to a SQL database</h6>
        </header>
        <section class="container" style="align:center">
            <div class="row text-center">
                <div class="col-sm-6 col-md-4 col-md-offset-4">
                    
                    <div ng-init="queryUrl= {{ url_for('queryDb') }} ", ng-controller="QueryData" >
                        <div class="device row">
                            <div ng-init="datalist='list'">{{lists}}</div>
                            <div>{{ datalist|angular }}</div>
                        </div>
                    </div>
                    
            
                </div>
            </div>
        </section>


    
    <script type="text/javascript" src="{{ url_for('static', filename='js/angular.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
    </body>
</html> 