{% extends "base.html"%}
{% block content%}
<h1>Welcome Sign up</h1>
<br>
<div class="row">
<form action="{{ url_for('signup') }}" method="post" role="form" class="col-md-6" >
	{{ form.hidden_tag() }}
	<div class="form-group">
	{{ form.name(placeholder="Your Name") }}
	{% if form.name.errors %}
		<span class="alert alert-warning">
		{% for error in form.name.errors %}
			{{ error }}
		{% endfor %}
		</span>
	{% endif %}
	</div>
	
	<div class="form-group">
	{{ form.username(placeholder="Username") }}
	{% if form.username.errors %}
		<span class="alert alert-warning">
		{% for error in form.username.errors %}
			{{ error }}
		{% endfor %}
		</span>
	{% endif %}
	</div>
	
	<div class="form-group">
	{{ form.email(placeholder="Email") }}
	{% if form.email.errors %}
		<span class="alert alert-warning">
		{% for error in form.email.errors %}
			{{ error }}
		{% endfor %}
		</span>
	{% endif %}
	</div>
	
	<div class="form-group">
	{{ form.password(placeholder="Password") }}
	{% if form.password.errors %}
		<span class="alert alert-warning">
		{% for error in form.password.errors %}
			{{ error }}
		{% endfor %}
		</span>
	{% endif %}
	</div>
	
	<div class="form-group">
	<input class="btn btn-default" type="submit" value="Sign Up">
	</div>
</form>
{% endblock %}